In [ ]:
import numpy as np 
import pandas as pd 
import yfinance as yf 
import matplotlib.pyplot as plt

In [ ]:
wiki = 'https://en.wikipedia.org/wiki/'
tickerSen = pd.read_html(wiki+'BSE_SENSEX')[1].Symbol.to_list()

In [ ]:
table = data[0]
table

In [ ]:
df

In [ ]:
data = []

for i in tickerSen:
    data.append(yf.download(i).reset_index())

In [ ]:
table

In [ ]:
table.drop("High", inplace=True, axis = 1)

In [ ]:
table.drop(["Low", "Open", "Close"], inplace=True, axis = 1)

In [ ]:
table

In [ ]:
r = open(r"tickers.txt", 'r')
contents = r.readlines()[0].split()
r.close()

In [ ]:
contents

In [ ]:
data2 = []
inde = 0
for i in contents:
    data2.append(yf.download(i).reset_index())
    if(inde == 10):
        break
    inde+=1

In [ ]:
# j = 0
# for i,k in zip(data2,contents):
#     i.to_csv(f'{k}.csv')
#     j+=1
#     if(j==50):
#         break

# Run the below to initiate the array of stocks

In [ ]:
j = 0
cont = []
for i in contents:
    cont.append(pd.read_csv(f'{i}.csv'))
    j+=1
    if(j==50):
        break
cont

In [ ]:
table

In [ ]:
table.plot(x = 'Date', y = "Adj Close")

In [ ]:
tor = 0
for i, j in zip(data2, contents):
    i.plot(x = 'Date', y = "Adj Close", title = f"{j}")
    if(tor == 15):
        break
    tor+=1

In [22]:
amazon = yf.download("AMZN").reset_index()

[*********************100%***********************]  1 of 1 completed

In [23]:
goog = yf.download("GOOG").reset_index()

[*********************100%***********************]  1 of 1 completed

In [ ]:
googl = yf.download("GOOGL").reset_index()

In [ ]:
print(goog)

In [ ]:
goog.plot(x = 'Date', y = "Adj Close", title = "GOOGLE")
amazon.plot(x = 'Date', y = "Adj Close", title = "AMAZON")

In [ ]:
amazon = yf.download("AMZN").reset_index()
goog = yf.download("GOOG").reset_index()
googl = yf.download("GOOGL").reset_index()
facebook = yf.download("FB").reset_index()
netflix = yf.download("NFLX").reset_index()

In [ ]:
goog.plot(x = 'Date', y = "Adj Close", title = "GOOGLE")
amazon.plot(x = 'Date', y = "Adj Close", title = "AMAZON")
googl.plot(x = 'Date', y = "Adj Close", title = "GOOGLE1")
facebook.plot(x = 'Date', y = "Adj Close", title = "FB")
netflix.plot(x = 'Date', y = "Adj Close", title = "NETFLIX")

In [24]:
amazon.drop(["High","Low", "Open", "Close"], inplace=True, axis = 1)

In [25]:
goog.drop(["High","Low", "Open", "Close"], inplace=True, axis = 1)

In [31]:
a=amazon.reset_index()
b=goog.reset_index()
a
b

      index       Date    Adj Close    Volume
0         0 2004-08-19    49.982655  44871361
1         1 2004-08-20    53.952770  22942874
2         2 2004-08-23    54.495735  18342897
3         3 2004-08-24    52.239197  15319808
4         4 2004-08-25    52.802086   9232276
...     ...        ...          ...       ...
4227   4227 2021-06-04  2451.760010   1295800
4228   4228 2021-06-07  2466.090088   1192500
4229   4229 2021-06-08  2482.850098   1253000
4230   4230 2021-06-09  2491.399902   1005400
4231   4231 2021-06-10  2521.600098   1551062

[4232 rows x 4 columns]

In [32]:
t = pd.concat([a,b],axis = 1)
t

,index,Date,Adj Close,Volume,index,Date,Adj Close,Volume
0,0,1997-05-15,1.958333,72156000,0.0,2004-08-19,49.982655,44871361.0
1,1,1997-05-16,1.729167,14700000,1.0,2004-08-20,53.952770,22942874.0
2,2,1997-05-19,1.708333,6106800,2.0,2004-08-23,54.495735,18342897.0
3,3,1997-05-20,1.635417,5467200,3.0,2004-08-24,52.239197,15319808.0
4,4,1997-05-21,1.427083,18853200,4.0,2004-08-25,52.802086,9232276.0
...,...,...,...,...,...,...,...,...
6053,6053,2021-06-04,3206.219971,2245700,NaN,NaT,NaN,NaN
6054,6054,2021-06-07,3198.010010,2215800,NaN,NaT,NaN,NaN
6055,6055,2021-06-08,3264.110107,3416700,NaN,NaT,NaN,NaN
6056,6056,2021-06-09,3281.149902,2449800,NaN,NaT,NaN,NaN
6057,6057,2021-06-10,3349.649902,3286978,NaN,NaT,NaN,NaN